name: Pull request for Teams

on:
  pull_request:
    branches:
      - main

jobs:
  check-duplicates:
    runs-on: ubuntu-latest
    steps:
      - name: Make the script files executable
        run: chmod +x duplicates.sh
      - name: Run the scripts
        run: ./duplicates.sh