name: Push and Pull request Teams

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check-duplicates:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout on master
        uses: actions/checkout@v3
      - name: Make the script files executable
        run: chmod +x ./dup_test/duplicates.sh
      - name: Run the scripts
        run: ./dup_test/duplicates.sh